Repository sharaf-nassar/claude-usage: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, clippy, eslint

cargo-fmt:
  name: cargo fmt
  language: system
  entry: bash -c 'cd src-tauri && cargo fmt --check'
  pass_filenames: false

clippy:
  name: clippy
  language: system
  entry: bash -c 'cd src-tauri && cargo clippy -- -D warnings'
  pass_filenames: false

eslint:
  name: eslint
  language: system
  entry: npx eslint --max-warnings=0

chore: bump version to 0.2.2
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

feat: add project breakdown, auto-update, and cwd filtering
  src-tauri/src/lib.rs
  src-tauri/src/models.rs
  src-tauri/src/storage.rs
  src/styles/index.css
Due: cargo-fmt, clippy

fix: resolve cwd to git root so subdirectories group under one project
  hooks/claude-usage-hook.sh
  plugin/.claude-plugin/plugin.json
Due: none

feat: add tantivy 0.25 dependency for session search
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: none

feat: create sessions.rs with schema and index initialization
  src-tauri/src/lib.rs
  src-tauri/src/sessions.rs
Due: cargo-fmt, clippy

feat: add JSONL parser and content extraction for sessions
  src-tauri/src/sessions.rs
Due: cargo-fmt, clippy

feat: add indexing engine and startup scan for sessions
  src-tauri/src/sessions.rs
Due: cargo-fmt, clippy

feat: add TypeScript types for session search
  src/types.ts
Due: eslint

feat: add session search components
  package-lock.json
  package.json
  src/components/sessions/FilterBar.tsx
  src/components/sessions/ResultCard.tsx
  src/components/sessions/SearchBar.tsx
Due: eslint

feat: add session sync hook for real-time indexing
  plugin/.claude-plugin/plugin.json
  plugin/hooks/hooks.json
  plugin/scripts/session-sync.js
  src-tauri/gen/schemas/capabilities.json
  src-tauri/src/lib.rs
  src-tauri/src/server.rs
  src-tauri/src/sessions.rs
Due: cargo-fmt, clippy

feat: add learning enhancements, insights analysis, and code review fixes
  .github/workflows/release.yml
  src-tauri/src/config.rs
  src-tauri/src/learning.rs
  src-tauri/src/lib.rs
  src-tauri/src/models.rs
  src-tauri/src/storage.rs
  src/App.tsx
  src/components/learning/RuleCard.tsx
  src/components/learning/RunHistory.tsx
  src/hooks/useLearningData.ts
  src/styles/learning.css
  src/types.ts
  src/windows/LearningWindow.tsx
  src/windows/RunsWindowView.tsx
Due: cargo-fmt, clippy, eslint

feat: add ai_client module with Rig Anthropic integration
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/ai_client.rs
  src-tauri/src/lib.rs
Due: cargo-fmt, clippy

feat: replace CLI subprocess with Rig API in spawn_analysis
  src-tauri/src/learning.rs
Due: cargo-fmt, clippy

feat: add real-time learning run tracking with DB-persisted runs
  .github/workflows/release.yml
  release.sh
  src-tauri/src/ai_client.rs
  src-tauri/src/config.rs
  src-tauri/src/learning.rs
  src-tauri/src/lib.rs
  src-tauri/src/models.rs
  src-tauri/src/storage.rs
  src/components/learning/RunHistory.tsx
  src/hooks/useLearningData.ts
  src/styles/learning.css
  src/types.ts
  src/windows/LearningWindow.tsx
  src/windows/RunsWindowView.tsx
Due: cargo-fmt, clippy, eslint

feat: add MCP server for LLM access to session history
  .github/workflows/release.yml
  .gitignore
  README.md
  hooks/install.sh
  plugin/.claude-plugin/plugin.json
  plugin/.mcp.json
  plugin/mcp/dependencies.py
  plugin/mcp/pyproject.toml
  plugin/mcp/server.py
  plugin/mcp/tools/__init__.py
  plugin/mcp/tools/analytics.py
  plugin/mcp/tools/details.py
  plugin/mcp/tools/discovery.py
  plugin/mcp/tools/search.py
  plugin/mcp/uv.lock
  plugin/skills/setup/SKILL.md
  src-tauri/src/auth.rs
  src-tauri/src/lib.rs
  src-tauri/src/server.rs
  src-tauri/src/sessions.rs
  src-tauri/src/storage.rs
  src-tauri/tauri.conf.json
  src/components/analytics/UsageChart.tsx
  src/hooks/useAnalyticsData.ts
  src/hooks/useTokenData.ts
Due: cargo-fmt, clippy, eslint

feat: add memory optimizer with approval-based suggestions
  README.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/ai_client.rs
  src-tauri/src/config.rs
  src-tauri/src/fetcher.rs
  src-tauri/src/learning.rs
  src-tauri/src/lib.rs
  src-tauri/src/memory_optimizer.rs
  src-tauri/src/models.rs
  src-tauri/src/prompt_utils.rs
  src-tauri/src/storage.rs
  src/components/learning/MemoriesPanel.tsx
  src/components/learning/SuggestionCard.tsx
  src/hooks/useMemoryData.ts
  src/windows/LearningWindow.tsx
  vite.config.ts
Due: cargo-fmt, clippy, eslint

feat: redesign memory optimizer with undo, diffs, OAuth auth, and storage v7
  .github/workflows/release.yml
  README.md
  release.sh
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/ai_client.rs
  src-tauri/src/learning.rs
  src-tauri/src/lib.rs
  src-tauri/src/memory_optimizer.rs
  src-tauri/src/models.rs
  src-tauri/src/prompt_utils.rs
  src-tauri/src/storage.rs
  src/components/learning/MemoriesPanel.tsx
  src/components/learning/SuggestionCard.tsx
  src/hooks/useMemoryData.ts
Due: cargo-fmt, clippy, eslint

feat: replace panel layout with tiling window manager
  .github/workflows/release.yml
  README.md
  release.sh
  screenshots/analytics-view.png
  screenshots/learning-panel.png
  screenshots/live-view.png
  screenshots/session-search.png
  src-tauri/tauri.conf.json
  src/App.tsx
  src/components/TitleBar.tsx
  src/components/learning/FloatingRunsWindow.tsx
  src/components/tiling/DragOverlay.tsx
  src/components/tiling/PresetsMenu.tsx
  src/components/tiling/TileDivider.tsx
  src/components/tiling/TileLeaf.tsx
  src/components/tiling/TileSplit.tsx
  src/components/tiling/TilingContainer.tsx
  src/components/tiling/layoutEngine.ts
  src/components/tiling/presets.ts
  src/components/tiling/types.ts
  src/styles/index.css
Due: eslint

feat: add useCodeStats and useSessionCodeStats hooks
  src/hooks/useCodeStats.ts
  src/hooks/useSessionCodeStats.ts
Due: eslint

feat: add StatsPanel component for analytics left column
  src/components/analytics/StatsPanel.tsx
Due: eslint

feat: add LOC stats to session result cards and analytics panel
  src/components/analytics/AnalyticsView.tsx
  src/components/analytics/TogglePills.tsx
  src/components/analytics/UsageChart.tsx
  src/components/sessions/ResultCard.tsx
  src/windows/SessionsWindowView.tsx
Due: eslint

docs: add plugin manager implementation plan
  docs/superpowers/plans/2026-03-18-plugin-manager.md
Due: none

fix(plugins): add webkit-app-region CSS for window dragging
  src/styles/plugins.css
Due: none

fix(plugins): refresh marketplace data after update operations
  src-tauri/src/lib.rs
Due: cargo-fmt, clippy

feat(search): add display_text field, dual-mode sort, and tool context
  src-tauri/src/server.rs
  src-tauri/src/sessions.rs
Due: cargo-fmt, clippy

feat(search): add sort toggle, tool badges, and missing TS types
  src/components/TitleBar.tsx
  src/components/analytics/CompactStatsRow.tsx
  src/components/analytics/NowTab.tsx
  src/components/analytics/StatsPanel.tsx
  src/components/sessions/DetailPanel.tsx
  src/components/sessions/FilterBar.tsx
  src/components/sessions/ResultCard.tsx
  src/styles/index.css
  src/styles/sessions.css
  src/types.ts
  src/utils/format.ts
  src/utils/tokens.ts
  src/windows/SessionsWindowView.tsx
Due: eslint

feat(restart): add Claude Code instance restart orchestrator
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/src/restart.rs
  src/components/TitleBar.tsx
  src/components/restart/RestartPanel.tsx
  src/main.tsx
  src/styles/restart.css
  src/types.ts
  src/windows/RestartWindowView.tsx
Due: cargo-fmt, clippy, eslint

feat(learning): multi-stream analysis with git history and cross-source synthesis
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/schemas/capabilities.json
  src-tauri/src/git_analysis.rs
  src-tauri/src/learning.rs
  src-tauri/src/lib.rs
  src-tauri/src/models.rs
  src-tauri/src/restart.rs
  src-tauri/src/storage.rs
  src/components/learning/RuleCard.tsx
  src/components/learning/RunHistory.tsx
  src/types.ts
Due: cargo-fmt, clippy, eslint

feat: add build skill for multi-agent feature orchestration
  .claude-plugin/marketplace.json
  README.md
  plugin/.claude-plugin/plugin.json
  plugin/README.md
  plugin/commands/build.md
  plugin/skills/build/SKILL.md
Due: none

fix: resolve macOS platform incompatibilities across hooks, MCP, and Rust backend
  .github/workflows/release.yml
  .pre-commit-config.yaml
  README.md
  hooks/install.sh
  hooks/quill-hook.sh
  plugin/commands/qbuild.md
  plugin/skills/qbuild/SKILL.md
  src-tauri/claude-integration/commands/quill-build.md
  src-tauri/claude-integration/commands/quill-learn.md
  src-tauri/claude-integration/commands/quill-setup.md
  src-tauri/claude-integration/mcp/dependencies.py
  src-tauri/claude-integration/mcp/pyproject.toml
  src-tauri/claude-integration/mcp/server.py
  src-tauri/claude-integration/mcp/tools/__init__.py
  src-tauri/claude-integration/mcp/tools/analytics.py
  src-tauri/claude-integration/mcp/tools/details.py
  src-tauri/claude-integration/mcp/tools/discovery.py
  src-tauri/claude-integration/mcp/tools/search.py
  src-tauri/claude-integration/mcp/uv.lock
  src-tauri/claude-integration/scripts/auto-setup.cjs
  src-tauri/claude-integration/scripts/observe.cjs
  src-tauri/claude-integration/scripts/paths.cjs
  src-tauri/claude-integration/scripts/report-tokens.sh
  src-tauri/claude-integration/scripts/session-end-learn.cjs
  src-tauri/claude-integration/scripts/session-sync.cjs
  src-tauri/claude-integration/skills/build-SKILL.md
  src-tauri/claude-integration/skills/learn-SKILL.md
  src-tauri/claude-integration/skills/setup-SKILL.md
  src-tauri/claude-integration/templates/claude-md-section.md
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/src/claude_setup.rs
  src-tauri/src/git_analysis.rs
  src-tauri/src/learning.rs
  src-tauri/src/lib.rs
  src-tauri/src/memory_optimizer.rs
  src-tauri/src/plugins.rs
  src-tauri/src/restart.rs
  src-tauri/src/sessions.rs
  src-tauri/src/storage.rs
  src-tauri/tauri.conf.json
Due: cargo-fmt, clippy

fix(ci): handle duplicate release assets during rename
  .github/workflows/release.yml
  README.md
  hooks/install.sh
  hooks/quill-hook.sh
  plugin/.claude-plugin/plugin.json
  plugin/README.md
  plugin/commands/qbuild.md
  plugin/commands/setup.md
  plugin/mcp/dependencies.py
  plugin/scripts/report-tokens.sh
  plugin/skills/setup/SKILL.md
  src-tauri/claude-integration/scripts/report-tokens.sh
  src-tauri/claude-integration/templates/claude-md-section.md
  src-tauri/src/claude_setup.rs
Due: cargo-fmt, clippy

feat: replace Rate Limit card with Response Time card in analytics
  .gitignore
  CLAUDE.md
  README.md
  lat.md/architecture.md
  lat.md/backend.md
  lat.md/data-flow.md
  lat.md/features.md
  lat.md/frontend.md
  lat.md/infrastructure.md
  lat.md/lat.md
  plugin/commands/qbuild.md
  plugin/scripts/visual/frame-template.html
  plugin/scripts/visual/helper.js
  plugin/scripts/visual/server.cjs
  plugin/scripts/visual/start-server.sh
  plugin/scripts/visual/stop-server.sh
  plugin/skills/qbuild/visual-companion.md
  screenshots/analytics-view.png
  screenshots/learning-panel.png
  screenshots/live-view.png
  screenshots/plugins.png
  screenshots/restart.png
  screenshots/session-search.png
  scripts/populate_dummy_data.py
  scripts/take_screenshots.sh
  src-tauri/src/lib.rs
  src-tauri/src/models.rs
  src-tauri/src/server.rs
  src-tauri/src/storage.rs
  src/components/analytics/NowTab.tsx
  src/components/learning/MemoriesPanel.tsx
  src/hooks/useMemoryData.ts
  src/hooks/useResponseTimeStats.ts
  src/types.ts
  src/utils/format.ts
Due: cargo-fmt, clippy, eslint

Path conditions:
  cargo-fmt: any of: \.rs$, but not: ^src-tauri/gen/
  clippy: any of: \.rs$, but not: ^src-tauri/gen/
  eslint: any of: ^src/ and \.(ts|mts|cts)$, \.tsx$ and not (^src-tauri/gen/)
